*.dist.*
*.hprof
*.iml
*.map
.DS_Store
.classpath
.gradle
.idea
.metadata
.project
.settings
bin
build
dist
gradle
gradlew
gradlew.bat
node_modules
npm-debug.log
out
package-lock.json
src/.metadata/
target/