<div class="col-12 api__content m-4 mt-5">
    <h3 class="text-muted">API</h3>
    <p>KEA3 has an API to enable programmatic access for querying the KEA3 database</p>
    <p>The KEA3 REST API uses POST to transport user submitted JSON-formatted gene sets and JSON-formatted
        query results between the KEA3 server and the user's script. The user gene set and optional
        additional information are encoded in JSON format.</p>

    <p><strong>Method:</strong> POST</p>
    <p><strong>URL:</strong> /KEA3/api/enrich/</p>
    <p><strong>Returns:</strong> JSON array of KEA3 library result objects</p>
    <p><strong>Parameters:</strong></p>
    <p>query_name: String</p>
    <p>gene_set: An array of strings</p>

    <ol>
        <li><strong>Command-line Example</strong> - The following returns results from all KEA3
            libraries in JSON format:
            <pre style="width: 100%; overflow-x: scroll; white-space: nowrap">$ curl -d '{"query_name":"myQuery", "gene_set":["FOXM1","SMAD9","MYC","SMAD3","STAT1","STAT3"]}' -H 'Content-Type: application/json' https://maayanlab.cloud/kea3/api/enrich/</pre>
            Redirect the JSON-formatted results to a file:
            <pre style="width: 100%; overflow-x: scroll; white-space: nowrap">$ curl -d '{"query_name":"myQuery", "gene_set":["FOXM1","SMAD9","MYC","SMAD3","STAT1","STAT3"]}' -H 'Content-Type: application/json' https://maayanlab.cloud/kea3/api/enrich/ > results.json</pre>
        </li>
        <li><strong>R Example</strong>
            <pre>
library(httr)
library(jsonlite)

genes = c("SMAD9","FOXO1","MYC","STAT1",'STAT3',"SMAD3")
url = "https://maayanlab.cloud/kea3/api/enrich/"
encode = "json"
payload = list(query_name = "myQuery", gene_set = genes)

response = POST(url = url, body = payload, encode = encode)
json = content(response, "text")

results = fromJSON(json)
</pre>
        </li>
    </ol>
</div>