<div class="mbr-section content4 cid-r0K2ViwrYH" id="api" style="padding-bottom:0">


    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">API</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    KEA3 has an API to enable programmatic access for querying the KEA3 database</h3>

            </div>
        </div>
    </div>


    <div class="mbr-section article content1 cid-r0K4JJbbUf" id="content1-11" style="padding-bottom:0">


        <div class="container">
            <div class="media-container-row">
                <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                    The KEA3 REST API uses POST to transport user submitted JSON-formatted gene sets and JSON-formatted
                    query results between the KEA3 server and the user’s script. The user gene set and optional
                    additional information are encoded in JSON format.
                    <br><br>
                    <strong>Method:</strong> POST<br>
                    <strong>URL:</strong> /KEA3/api/enrich/<br>
                    <strong>Returns:</strong> JSON array of KEA3 library result objects<br>
                    <strong>Parameters:</strong>
                    <table class="tg" style="display:inline-table;border-collapse:collapse;border-spacing:0">
                        <tr>
                            <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                                query_name
                            </th>
                            <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                                String
                            </th>
                        </tr>
                        <tr>
                            <td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                                gene_set
                            </td>
                            <td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                                An array of strings
                            </td>
                        </tr>
                    </table>
                    <br><br>

                </div>
            </div>
        </div>
    </div>

    <div class="mbr-section article content11 cid-r0K4Kn3FRS" id="content11-12" style="padding-bottom:0px">


        <div class="container">
            <div class="media-container-row">
                <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                    <ol>
                        <li><strong>Command-line Example</strong> - The following returns results from all KEA3
                            libraries in JSON format:
                            <pre
                                    style="width: 100%; overflow-x: scroll; white-space: nowrap">$ curl -d '{"query_name":"myQuery", "gene_set":["FOXM1","SMAD9","MYC","SMAD3","STAT1","STAT3"]}' -H 'Content-Type: application/json' https://amp.pharm.mssm.edu/kea3/api/enrich/</pre>
                            Redirect the JSON-formatted results to a file:
                            <pre
                                    style="width: 100%; overflow-x: scroll; white-space: nowrap">$ curl -d '{"query_name":"myQuery", "gene_set":["FOXM1","SMAD9","MYC","SMAD3","STAT1","STAT3"]}' -H 'Content-Type: application/json' https://amp.pharm.mssm.edu/kea3/api/enrich/ > results.json</pre>
                            </a></li>
                        <!-- <li><strong>Python Example</strong> -
                            <pre
                            style="width: 100%; overflow-x: scroll; white-space: nowrap"></pre></li> -->
                        <li><strong>R Example</strong> -
                            <pre style="width: 100%; overflow-x: scroll">
									rm(list = ls())
									library(httr)
									library(jsonlite)
									
									genes = c("SMAD9","FOXO1","MYC","STAT1",'STAT3',"SMAD3")
									
									url = "https://amp.pharm.mssm.edu/kea3/api/enrich/"
									encode = "json"
									payload = list(query_name = "myQuery", gene_set = genes)
									
									#POST to KEA3 server
									response = POST(url = url, body = payload, encode = encode)
									json = content(response, "text")
									
									#results as list of R dataframes
									results = fromJSON(json)
								
								</pre>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
