<h4 class="my-3" id="item-1">Integrated results</h4>
<p>Integrated rankings of kinases across libraries based on two different metrics.</p>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-1">Contribution to mean
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='The contribution of library-specific rankings to the overall MeanRank calculated for each of the top-ranked kinases. Different colors represent different libraries; hover over any colored section of the bar representing a kinase to see the rank of that kinase in the specified library.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-1-1">
                    <g>
                        <g>
                            <rect x="60" y="0" width="10" height="10" style="fill: #9e0142;"></rect>
                            <text x="75" y="10" style="font: 10px sans-serif;">
                                BioGRID
                            </text>
                        </g>
                        <g>
                            <rect x="60" y="15" width="10" height="10" style="fill: #d53e4f;"></rect>
                            <text x="75" y="25" style="font: 10px sans-serif;">
                                ChengKSIN
                            </text>
                        </g>
                        <g>
                            <rect x="60" y="30" width="10" height="10" style="fill: #f46d43;"></rect>
                            <text x="75" y="40" style="font: 10px sans-serif;">
                                ChengPPI
                            </text>
                        </g>
                        <g>
                            <rect x="60" y="45" width="10" height="10" style="fill: #fdae61;"></rect>
                            <text x="75" y="55" style="font: 10px sans-serif;">
                                HIPPIE
                            </text>
                        </g>
                        <g>
                            <rect x="130" y="0" width="10" height="10" style="fill: #fee08b;"></rect>
                            <text x="145" y="10" style="font: 10px sans-serif;">
                                mentha
                            </text>
                        </g>
                        <g>
                            <rect x="130" y="15" width="10" height="10" style="fill: #ffffbf;"></rect>
                            <text x="145" y="25" style="font: 10px sans-serif;">
                                MINT
                            </text>
                        </g>
                        <g>
                            <rect x="130" y="30" width="10" height="10" style="fill: #e6f598;"></rect>
                            <text x="145" y="40" style="font: 10px sans-serif;">
                                PhosDAll
                            </text>
                        </g>
                        <g>
                            <rect x="130" y="45" width="10" height="10" style="fill: #abdda4;"></rect>
                            <text x="145" y="55" style="font: 10px sans-serif;">
                                prePPI
                            </text>
                        </g>
                        <g>
                            <rect x="200" y="0" width="10" height="10" style="fill: #66c2a5;"></rect>
                            <text x="215" y="10" style="font: 10px sans-serif;">
                                PTMsigDB
                            </text>
                        </g>
                        <g>
                            <rect x="200" y="15" width="10" height="10" style="fill: #3288bd;"></rect>
                            <text x="215" y="25" style="font: 10px sans-serif;">
                                STRING
                            </text>
                        </g>
                        <g>
                            <rect x="200" y="30" width="10" height="10" style="fill: #5e4fa2;"></rect>
                            <text x="215" y="40" style="font: 10px sans-serif;">
                                STRING.bind
                            </text>
                        </g>

                    </g>
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm"
                            onclick="save_svg($('#bar-1-1')[0], 'Contribution_to_mean')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm"
                            onclick="save_png($('#bar-1-1')[0], 'Contribution_to_mean')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-2">Top rank
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='The TopRank scores for each of the top-ranked kinases based on user query.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-1-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-1-2')[0], 'Top_rank')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-1-2')[0], 'Top_rank')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-2">Kinase-substrate interaction</h4>
<p>-log(p-values) of the top-ranked kinase results from performing enrichment analysis against various kinase-substrate
    interaction libraries.</p>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-1">Cheng KSIN
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Kinase-substrate interaction network constructed by Cheng et al. from Phospho.ELM, HPRD, PhosphoNetworks, and PhosphoSitePlus.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-2-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-2-1')[0], 'Cheng_KSIN')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-2-1')[0], 'Cheng_KSIN')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-2">PTMsigDB
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Phosphosite signatures of kinase activities, perturbations, and signaling pathways curated from literature.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-2-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-2-2')[0], 'PTMsigDB')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-2-2')[0], 'PTMsigDB')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-3">PhosD All
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Kinase libraries generated by training the PhosD model on Phospho.ELM, PhosphoSitePlus, and multiple datasets.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-2-3">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-2-3')[0], 'PhosD_All')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-2-3')[0], 'PhosD_All')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-3">Protein-protein interaction</h4>
<p>-log(p-values) of the top-ranked kinase results from performing enrichment analysis against various protein-protein
    interaction libraries.</p>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-1">prePPI
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='High-confidence protein-protein interaction predictions generated from a Bayesian network relying on 3D structural information as well as functional, evolutionary, and expression information.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-3-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-1')[0], 'prePPI')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-3-1')[0], 'prePPI')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-2">BioGRID
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Multi-validated protein-protein interactions from high- and low-throughput experiments manually curated from literature.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-3-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-2')[0], 'BioGRID')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-3-2')[0], 'BioGRID')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-3">mentha
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Molecular interactions aggregated from MINT, IntAct, BioGRID, MatrixDB, and DIP.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-3-3">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-3')[0], 'mentha')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-3-3')[0], 'mentha')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-4">MINT
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Protein-protein interactions from high- and low-throughput experiments manually curated from literature.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-3-4">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-4')[0], 'MINT')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-3-4')[0], 'MINT')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-5">HIPPIE
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Aggregated experimentally-determined protein-protein interactions from IntAct, MINT, BioGRID, HPRD, DIP, BIND, and MMPI.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-3-5">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-5')[0], 'HIPPIE')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-3-5')[0], 'HIPPIE')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-6">STRING bind
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Subset of the STRING database which includes only interactions annotated as involving physical binding.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-3-6">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-6')[0], 'STRING_bind')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-3-6')[0], 'STRING_bind')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-7">Cheng PPI
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Protein-protein interaction network constructed by Cheng et al. from IntAct, MINT, BioGRID, DIP, HPRD, and MIPS MPact.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-3-7">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-7')[0], 'Cheng_PPI')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-3-7')[0], 'Cheng_PPI')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-4">All associations</h4>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-4-1">STRING
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Database of direct and indirect protein-protein interactions, including physical interaction, co-expression, co-occurrence in literature, evolutionary co-occurrence, and other association types.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <svg id="bar-4-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-4-1')[0], 'STRING')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#bar-4-1')[0], 'STRING')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>