<h4 class="my-3" id="item-1">Integrated results</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-1">Weighted contribution to mean</h5>
                <div style="display: flex; align-items: center; margin-left: 0px; min-height: 33px; font: 10px sans-serif;">
                    <div class="row" style="width: 100%;">
                        <div class="col-4">
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#9e0142;"></div>
                                <div class="O-1-label" title="BioGRID">BioGRID</div>
                            </div>
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#d53e4f;"></div>
                                <div class="O-1-label" title="ChengKSIN">ChengKSIN</div>
                            </div>
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#f46d43;"></div>
                                <div class="O-1-label" title="ChengPPI">ChengPPI</div>
                            </div>
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#fdae61;"></div>
                                <div class="O-1-label" title="HIPPIE">HIPPIE</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#fee08b;"></div>
                                <div class="O-1-label" title="mentha">mentha</div>
                            </div>
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#ffffbf;"></div>
                                <div class="O-1-label" title="MINT">MINT</div>
                            </div>
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#e6f598;"></div>
                                <div class="O-1-label" title="PhosDAll">PhosDAll</div>
                            </div>
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#abdda4;"></div>
                                <div class="O-1-label" title="prePPI">prePPI</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#66c2a5;"></div>
                                <div class="O-1-label" title="PTMsigDB">PTMsigDB</div>
                            </div>
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#3288bd;"></div>
                                <div class="O-1-label" title="STRING">STRING</div>
                            </div>
                            <div class="O-1-item">
                                <div class="O-1-swatch" style="background:#5e4fa2;"></div>
                                <div class="O-1-label" title="STRING.bind">STRING.bind</div>
                            </div>
                        </div>
                    </div>
                </div>
                <svg id="bar-1-1" height="285"></svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-1-1', 'Weighted_contribution_to_mean'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-2">Top rank</h5>
                <svg id="bar-1-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-1-2', 'Top_rank'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-2">Kinase-substrate interaction</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-1">Cheng KSIN</h5>
                <svg id="bar-2-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-2-1', 'Cheng_KSIN'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-2">PTMsigDB</h5>
                <svg id="bar-2-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-2-2' , 'PTMsigDB'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-3">PhosD All</h5>
                <svg id="bar-2-3">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-2-3', 'PhosD_All'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-3">Protein-protein interaction</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-1">prePPI</h5>
                <svg id="bar-3-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-1', 'prePPI'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-2">BioGRID</h5>
                <svg id="bar-3-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-2', 'BioGRID'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-3">mentha</h5>
                <svg id="bar-3-3">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-3', 'mentha'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-4">MINT</h5>
                <svg id="bar-3-4">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-4', 'MINT'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-5">HIPPIE</h5>
                <svg id="bar-3-5">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-5', 'HIPPIE'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-6">STRING bind</h5>
                <svg id="bar-3-6">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-6', 'STRING_bind'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-7">Cheng PPI</h5>
                <svg id="bar-3-7">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-3-7', 'Cheng_PPI'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-4">All associations</h4>
<div class="row">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-4-1">STRING</h5>
                <svg id="bar-4-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#bar-4-1', 'STRING'))">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>