<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row justify-content-center pt-2">
            <div id="faq" class="col-lg-1 col-md-1 col-sm-2 faq">
                <a class="h6" href="/kea3/templates/faq.jsp" style="color: #007bff73;" target="_blank">FAQ</a>
            </div>

            <div id="tutorial" class="col-lg-1 col-md-1 col-sm-2 faq">
                <a class="h6" href="/kea3/templates/tutorial.jsp" style="color: #007bff73;" target="_blank">Tutorial</a>
            </div>

            <div id="api" class="col-lg-1 col-md-1 col-sm-2 api">
                <a class="h6" href="/kea3/templates/api.jsp" style="color: #007bff73;" target="_blank">API</a>
            </div>

            <div id="libraries" class="col-lg-2 col-md-2 col-sm-2 libraries">
                <a class="h6" href="/kea3/templates/libraries.jsp" style="color: #007bff73;" target="_blank">Download
                    libraries</a>
            </div>
        </div>

        <div class="row justify-content-center pt-4">
            <div class="col-8">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank">
                            <img class="rounded" src="/kea3/static/icahn_cb.png"
                                 style="height: 5rem; margin-left: 20px;">
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <a href="http://lincs-dcic.org" target="_blank">
                            <img class="rounded" src="/kea3/static/IDG.png" style="height: 3.5rem; margin-top: 10px;">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 mt-1">
                        <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank">
                            <img class="rounded" src="/kea3/static/maayanlab_logo.png"
                                 style="height: 5rem;">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-8 col-sm-8 mt-1">
                        <a class="github-button m-1" href="https://github.com/MaayanLab/KEA3web" target="_blank">
                        <span>
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                 style="width: 1rem;">
                </span>
                            View source code
                        </a>
                        <a class="github-button m-1"
                           href="https://github.com/MaayanLab/KEA3web/issues/new" target="_blank">
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                 style="width: 1rem;">
                            Submit an issue
                        </a>
                    </div>
                    <!--            -->
                    <!--            <div class="col-lg-3 col-md-4 col-sm-6">-->
                    <!--                <a class="h6 github-button" href="/kea3/templates/faq.jsp" target="_blank">FAQ</a>-->
                    <!--                <a class="h6 github-button" href="/kea3/templates/tutorial.jsp" target="_blank">Tutorial</a>-->
                    <!--                <a class="h6 github-button" href="/kea3/templates/api.jsp" target="_blank">API</a>-->
                    <!--                <a class="h6 github-button" href="/kea3/templates/libraries.jsp" target="_blank">Download libraries</a-->
                    <!--            </div>-->
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-4">
            <div class="col-8">
                <a style="color: #007bff73; font-size: 80%;"
                   href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkab359/6279841" target="_blank">
                    <p>Maxim V Kuleshov, Zhuorui Xie, Alexandra B K London, Janice Yang, John Erol Evangelista,
                    Alexander Lachmann, Ingrid Shu, Denis Torre, Avi Ma'ayan, KEA3: improved kinase enrichment
                        analysis via data integration, Nucleic Acids Research, 2021; gkab359</p>
                </a>
            </div>
        </div>
    </div>
</footer>

