<footer class="footer">
    <div class="row justify-content-center">
        <!-- Affiliations Column -->
        <div class="col-md-5 col-sm small">
            <h5 class="mb-3">Affiliations</h5>
            <div>
                <a class="black" href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">
                    The Ma'ayan Lab
                </a>
            </div>
            <div>
                <a class="black" href="http://www.lincs-dcic.org/" target="_blank">
                    BD2K-LINCS Data Coordination and Integration Center (DCIC)
                </a>
            </div>
            <div>
                <a class="black" href="http://www.lincsproject.org/">
                    NIH LINCS program
                </a>
            </div>
            <div>
                <a class="black" href="https://nihdatacommons.us/" target="_blank">
                    Data Commons Pilot Project Consortium (DCPPC)
                </a>
            </div>
            <div>
                <a class="black" href="https://druggablegenome.net/KMC_ISMMS" target="_blank">
                    NIH Illuminating the Druggable Genome (IDG) Program</a>
            </div>
            <div>
                <a class="black" href="http://icahn.mssm.edu/" target="_blank">
                    Icahn School of Medicine at Mount Sinai
                </a>
            </div>
            <div>
                <a class="black" href="http://icahn.mssm.edu/research/bioinformatics" target="_blank">
                    Mount Sinai Center for Bioinformatics
                </a>
            </div>
        </div>

        <!-- Share Column -->
        <div class="col-md-2 col-sm small">
            <h5 class="mb-3">License</h5>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">
                <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"
                     style="border-width:0;">
            </a>
            <div class="micro mt-2">
                <p>All contents on this site are covered by the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
                                                                   rel="license">
                    Creative Commons Attribution 4.0 International License</a>.
                </p>
            </div>
        </div>

        <!-- GitHub Column -->
        <div class="col-md-3 col-sm small">
            <h5 class="mb-3">Source Code</h5>
            <a class="nav-item nav-link" href="https://github.com/MaayanLab/KEA3web" target="_blank">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="width: 4rem;">
            </a>
        </div>
    </div>
</footer>