<div class="row justify-content-center my-2">
    <div id="faq" class="col-1 faq">
        <a class="h6" href="faq.html" target="_blank">FAQ</a>
    </div>

    <div id="api" class="col-1 api">
        <a class="h6" href="api.html" target="_blank">API</a>
    </div>

    <div id="libraries" class="col-2 libraries">
        <a class="h6" href="libraries.html" target="_blank">Download libraries</a>
    </div>
</div>

<div class="row my-2 ml-3 pt-5 justify-content-center">
    <div class="col-2">
        <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank">
            <img class="rounded" src="static/icahn_cb.png" style="height: 5rem;">
        </a>
    </div>

    <div class="col-2">
        <a href="http://lincs-dcic.org" target="_blank">
            <img class="rounded" src="static/dcic_light.png" style="height: 5rem;">
        </a>
    </div>

    <div class="col-2">
        <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank">
            <img class="rounded" src="static/maayanlab_logo.png"
                 style="height: 5rem;">
        </a>
    </div>

    <div class="col-2">
        <a class="badge badge-secondary px-2" href="https://github.com/MaayanLab/KEA3web" target="_blank">
                        <span class="badge badge-light">
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                 style="width: 1rem;">
                </span>
            View source code
        </a>
    </div>

    <div class="col-2">
        <a class="badge badge-secondary px-2"
           href="https://github.com/MaayanLab/KEA3web/issues/new" target="_blank">
                        <span class="badge badge-light">
                        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                             style="width: 1rem;">
                            </span>
            Submit an issue
        </a>
    </div>
</div>


