<div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">
        <form>
            <h4>Input a list of proteins</h4>
            <textarea class="form-control form-control-sm mt-2"
                      id="genelist" rows="12" name="text-genes"
                      onkeyup="checkGeneList($(this).val())"
                      onchange="checkGeneList($(this).val())"
                      onfocus="checkGeneList($(this).val())"
                      placeholder="KEA3 supports HGNC-approved gene symbols. Symbols that are not included in this set are not analyzed."></textarea>

            <div class="my-2">
                <span id="genecheck" style="color: darkgrey; font-size: 0.9rem;">0 symbols entered, 0 duplicates, 0 valid symbols</span>
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-title="What gene symbols are accepted?"
                      data-content='KEA3 supports <a target="_blank" href ="https://www.genenames.org/">HGNC-approved</a> gene symbols. Symbols that are not included in this set are not analyzed.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'
                      data-html="true">
                            <i class="far fa-question-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                        </span>
            </div>
            <p>
                <a class="custom-button" href="#" role="button" id="submit-genelist"
                   onclick="submitList();" disabled style="text-decoration: none;">Submit</a>
                <button type="button" class="custom-button" id="example-genelist" onclick="insertExample();"><i
                        class="fas fa-align-justify"></i> Input an example
                </button>
                <label for="file-upload" class="custom-button">
                    <i class="fas fa-file-upload"></i>
                    Upload proteins list
                </label><input id="file-upload" type="file" accept=".txt"/>
            </p>
        </form>
    </div>
    <div class="col-lg-6 col-md-10 col-12">
        <!--        <h4>What is KEA3?</h4>-->
        <!--        <p>Kinase Enrichment Analysis 3 (KEA3) infers upstream kinases whose-->
        <!--            putative substrates are overrepresented in a user-inputted list of proteins or differentially-->
        <!--            phosphorylated proteins.-->
        <!--        </p>-->
        <h4>The KEA3 workflow</h4>
        <div id="carouselPipelineCaptions" class="carousel slide border p-2" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselPipelineCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselPipelineCaptions" data-slide-to="1"></li>
                <li data-target="#carouselPipelineCaptions" data-slide-to="2"></li>
                <li data-target="#carouselPipelineCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/carousel0.png" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="static/carousel1.png" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Input a list of differentially expressed proteins.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="static/carousel2.png" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>KEA performs enrichment analysis on the inputted list of differentially expressed proteins
                            using gene set libraries from kinase-substrate interaction databases.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="static/carousel3.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>A ranked list of the top predicted kinases is displayed as networks, subnetworks, bar graphs
                            and a clustergram.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>