<h4 class="my-3" id="networks-head">Networks</h4>
<p class="my-3">Human kinome regulatory networks were produced by applying 
    <a href="https://horvath.genetics.ucla.edu/html/CoexpressionNetwork/Rpackages/WGCNA/">Weighted 
    Gene Co-expression Network Analysis (WGCNA)</a> to the 
    <a href="https://maayanlab.cloud/archs4/">ARCHS4</a>, 
    <a href="https://gtexportal.org/home/">GTEx</a>, and 
    <a href="https://www.cancer.gov/about-nci/organization/ccg/research/structural-genomics/tcga">TCGA</a> 
    datasets. Edges are hidden to avoid clutter. All data was quantile-normalized and filtered to include 
    only protein kinases prior to WGCNA. Clustering was performed in Cytoscape with the Allegro 
    Fruchterman-Reingold Force Directed Layout plugin. Kinases are colored by tissue type based on 
    the highest correlation between the kinase and the parent WGCNA module.</p>
<h4 class="my-3" id="archs4">ARCHS4</h4>
<p>Data consisted of 100 random RNA-seq samples for each of 18 tissue types pulled from the ARCHS4 database. WGCNA
    module eigengenes were correlated to ARCHS4 sample labels, which can be viewed by selecting the "Tissue" tab.</p>
<div class="row">
    <div class="col-10 mt-1" style="display: block;">
        <div class="dropdown">
            <label for="dropdown_archs4_button">Select a library</label>
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdown_archs4_button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Integrated--meanRank
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('Integrated--meanRank', parseInt($('#slider-net-archs4').val()));">Mean rank</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('Integrated--topRank', parseInt($('#slider-net-archs4').val()));">Top rank</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('ChengKSIN', parseInt($('#slider-net-archs4').val()));">ChengKSIN</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('PTMsigDB', parseInt($('#slider-net-archs4').val()));">PTMsigDB</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('PhosDAll', parseInt($('#slider-net-archs4').val()));">PhosDAll</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('prePPI', parseInt($('#slider-net-archs4').val()));">prePPI</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('BioGRID', parseInt($('#slider-net-archs4').val()));">BioGRID</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('mentha', parseInt($('#slider-net-archs4').val()));">mentha</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('MINT', parseInt($('#slider-net-archs4').val()));">MINT</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('HIPPIE', parseInt($('#slider-net-archs4').val()));">HIPPIE</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('STRING.bind', parseInt($('#slider-net-archs4').val()));">STRING.bind</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('ChengPPI', parseInt($('#slider-net-archs4').val()));">ChengPPI</a>
                <a class="dropdown-item" href="#results" onclick="draw_archs4_scatters('STRING', parseInt($('#slider-net-archs4').val()));">STRING</a>
            </div>
        </div>
        <div class="d-flex mt-3">
            <p>Showing top <span id="slider-net-val-archs4">10</span> results</p>
            <input id="slider-net-archs4" type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                   oninput="draw_archs4_scatters(network_mode.archs4.library, parseInt(this.value)); $('#slider-net-val-archs4').text(this.value)"
                   onchange="draw_archs4_scatters(network_mode.archs4.library, parseInt(this.value)); $('#slider-net-val-archs4').text(this.value)">
        </div>
        <nav class="nav nav-pills mb-3" id="archs4-tab" role="tablist">
            <a class="nav-link m-1 py-1 active" id="archs4-wgcna-tab" data-toggle="pill" href="#archs4-wgcna" role="tab"
               aria-controls="archs4-wgcna" aria-selected="true">WGCNA modules</a>
            <a class="nav-link m-1 py-1" id="archs4-tissue-tab" data-toggle="pill" href="#archs4-tissue" role="tab"
               aria-controls="archs4-tissue" aria-selected="false">Tissue</a>
        </nav>
        <div class="card">
            <div class="tab-content card-body" id="archs4-tabContent">
                <div class="tab-pane fade show active" id="archs4-wgcna" role="tabpanel"
                     aria-labelledby="archs4-wgcna-tab">
                    <svg id="archs4-wgcna-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#archs4-wgcna-network')[0], 'ARCHS4_WGCNA_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#archs4-wgcna-network')[0], 'ARCHS4_WGCNA_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="archs4-tissue" role="tabpanel" aria-labelledby="archs4-tissue-tab">
                    <svg id="archs4-tissue-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#archs4-tissue-network')[0], 'ARCHS4_Tissue_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#archs4-tissue-network')[0], 'ARCHS4_Tissue_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="gtex">GTEx</h4>
<p>Data is from GTEx gene expression dataset. WGCNA module eigengenes were correlated to GTEx tissue sample labels,
    which can be viewed by selecting the "General tissue" and "Specific tissue" tabs.</p>
<div class="row">
    <div class="col-10 mt-1" style="display: block;">
        <div class="dropdown">
            <label for="dropdown_gtex_button">Select a library</label>
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdown_gtex_button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Integrated--meanRank
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('Integrated--meanRank', parseInt($('#slider-net-gtex').val()));">Mean rank</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('Integrated--topRank', parseInt($('#slider-net-gtex').val()));">Top rank</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('ChengKSIN', parseInt($('#slider-net-gtex').val()));">ChengKSIN</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('PTMsigDB', parseInt($('#slider-net-gtex').val()));">PTMsigDB</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('PhosDAll', parseInt($('#slider-net-gtex').val()));">PhosDAll</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('prePPI', parseInt($('#slider-net-gtex').val()));">prePPI</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('BioGRID', parseInt($('#slider-net-gtex').val()));">BioGRID</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('mentha', parseInt($('#slider-net-gtex').val()));">mentha</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('MINT', parseInt($('#slider-net-gtex').val()));">MINT</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('HIPPIE', parseInt($('#slider-net-gtex').val()));">HIPPIE</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('STRING.bind', parseInt($('#slider-net-gtex').val()));">STRING.bind</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('ChengPPI', parseInt($('#slider-net-gtex').val()));">ChengPPI</a>
                <a class="dropdown-item" href="#results" onclick="draw_gtex_scatters('STRING', parseInt($('#slider-net-gtex').val()));">STRING</a>
            </div>
        </div>
        <div class="d-flex mt-3">
            <p>Showing top <span id="slider-net-val-gtex">10</span> results</p>
            <input id="slider-net-gtex" type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                   oninput="draw_gtex_scatters(network_mode.gtex.library, parseInt(this.value)); $('#slider-net-val-gtex').text(this.value)"
                   onchange="draw_gtex_scatters(network_mode.gtex.library, parseInt(this.value)); $('#slider-net-val-gtex').text(this.value)">
        </div>
        <nav class="nav nav-pills mb-3" id="gtex-tab" role="tablist">
            <a class="nav-link m-1 py-1 active" id="gtex-wgcna-tab" data-toggle="pill" href="#gtex-wgcna" role="tab"
               aria-controls="gtex-wgcna" aria-selected="true">WGCNA modules</a>
            <a class="nav-link m-1 py-1" id="gtex-general-tissue-tab" data-toggle="pill" href="#gtex-general-tissue"
               role="tab"
               aria-controls="gtex-general-tissue" aria-selected="false">General tissue</a>
            <a class="nav-link m-1 py-1" id="gtex-specific-tissue-tab" data-toggle="pill" href="#gtex-specific-tissue"
               role="tab"
               aria-controls="gtex-specific-tissue" aria-selected="false">Specific tissue</a>
        </nav>
        <div class="card">
            <div class="tab-content card-body" id="gtex-tabContent">
                <div class="tab-pane fade show active" id="gtex-wgcna" role="tabpanel"
                     aria-labelledby="gtex-wgcna-tab">
                    <svg id="gtex-wgcna-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#gtex-wgcna-network')[0], 'GTEx_WGCNA_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#gtex-wgcna-network')[0], 'GTEx_WGCNA_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="gtex-general-tissue" role="tabpanel"
                     aria-labelledby="gtex-general-tissue-tab">
                    <svg id="gtex-general-tissue-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#gtex-general-tissue-network')[0], 'GTEx_General_Tissue_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#gtex-general-tissue-network')[0], 'GTEx_General_Tissue_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="gtex-specific-tissue" role="tabpanel"
                     aria-labelledby="gtex-specific-tissue-tab">
                    <svg id="gtex-specific-tissue-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#gtex-specific-tissue-network')[0], 'GTEx_Specific_Tissue_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#gtex-specific-tissue-network')[0], 'GTEx_Specific_Tissue_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="tcga">TCGA</h4>
<p>Data consisted of 100 samples from each of 96 cancer types from the TCGA database. WCGNA module eigengenes were
    correlated to TCGA tumor types, which can be viewed by selecting the "Tumor" tab.</p>
<div class="row">
    <div class="col-10 mt-1" style="display: block;">
        <div class="dropdown">
            <label for="dropdown_tcga_button">Select a library</label>
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdown_tcga_button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Integrated--meanRank
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('Integrated--meanRank', parseInt($('#slider-net-tcga').val()));">Mean rank</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('Integrated--topRank', parseInt($('#slider-net-tcga').val()));">Top rank</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('ChengKSIN', parseInt($('#slider-net-tcga').val()));">ChengKSIN</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('PTMsigDB', parseInt($('#slider-net-tcga').val()));">PTMsigDB</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('PhosDAll', parseInt($('#slider-net-tcga').val()));">PhosDAll</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('prePPI', parseInt($('#slider-net-tcga').val()));">prePPI</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('BioGRID', parseInt($('#slider-net-tcga').val()));">BioGRID</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('mentha', parseInt($('#slider-net-tcga').val()));">mentha</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('MINT', parseInt($('#slider-net-tcga').val()));">MINT</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('HIPPIE', parseInt($('#slider-net-tcga').val()));">HIPPIE</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('STRING.bind', parseInt($('#slider-net-tcga').val()));">STRING.bind</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('ChengPPI', parseInt($('#slider-net-tcga').val()));">ChengPPI</a>
                <a class="dropdown-item" href="#results" onclick="draw_tcga_scatters('STRING', parseInt($('#slider-net-tcga').val()));">STRING</a>
            </div>
        </div>
        <div class="d-flex mt-3">
            <p>Showing top <span id="slider-net-val-tcga">10</span> results</p>
            <input id="slider-net-tcga" type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                   oninput="draw_tcga_scatters(network_mode.tcga.library, parseInt(this.value)); $('#slider-net-val-tcga').text(this.value)"
                   onchange="draw_tcga_scatters(network_mode.tcga.library, parseInt(this.value)); $('#slider-net-val-tcga').text(this.value)">
        </div>
        <nav class="nav nav-pills mb-3" id="tcga-tab" role="tablist">
            <a class="nav-link m-1 py-1 active custom-button" id="tcga-wgcna-tab" data-toggle="pill" href="#tcga-wgcna" role="tab"
               aria-controls="tcga-wgcna" aria-selected="true">WGCNA modules</a>
            <a class="nav-link m-1 py-1" id="tcga-tumor-tab" data-toggle="pill" href="#tcga-tumor" role="tab"
               aria-controls="tcga-tumor" aria-selected="false">Tumor</a>
        </nav>
        <div class="card">
            <div class="tab-content card-body" id="tcga-tabContent">
                <div class="tab-pane fade show active" id="tcga-wgcna" role="tabpanel"
                     aria-labelledby="tcga-wgcna-tab">
                    <svg id="tcga-wgcna-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#tcga-wgcna-network')[0], 'TCGA_WGCNA_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#tcga-wgcna-network')[0], 'TCGA_WGCNA_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="tcga-tumor" role="tabpanel" aria-labelledby="tcga-tumor-tab">
                    <svg id="tcga-tumor-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#tcga-tumor-network')[0], 'TCGA_Tumor_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#tcga-tumor-network')[0], 'TCGA_Tumor_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>