<p>Human kinome regulatory networks produced by applying Weighted Gene Co-expression Network Analysis (WGCNA) to various
    datasets. All data was quantile-normalized and filtered to include only protein kinases prior to WGCNA. Clustering
    was performed in Cytoscape with the Allegro Fruchterman-Reingold Force Directed Layout plugin. Nodes are colored by
    the most significant tissue/tumor correlation to the parent WGCNA module.</p>
<div class="dropdown">
    <button class="btn btn-sm btn-outline-primary dropdown-toggle mt-3" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a library
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('Integrated--meanRank');">Mean rank</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('Integrated--topRank');">Top rank</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('ChengKSIN');">ChengKSIN</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('PTMsigDB');">PTMsigDB</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('PhosDAll');">PhosDAll</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('prePPI');">prePPI</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('BioGRID');">BioGRID</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('mentha');">mentha</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('MINT');">MINT</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('HIPPIE');">HIPPIE</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('STRING.bind');">STRING.bind</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('ChengPPI');">ChengPPI</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('STRING');">STRING</a>
    </div>
</div>
<h4 class="my-3" id="archs4">ARCHS4</h4>
<p>Data consisted of 100 random RNA-seq samples for each of 18 tissue types pulled from the ARCHS4 database. WGCNA
    module eigengenes were correlated to ARCHS4 sample labels, which can be viewed by selecting the “Tissue” tab.</p>
<div class="row">
    <div class="col-10 mt-1" style="display: block;">
        <nav class="nav nav-pills mb-3" id="archs4-tab" role="tablist">
            <a class="nav-link m-1 py-1 active" id="archs4-wgcna-tab" data-toggle="pill" href="#archs4-wgcna" role="tab"
               aria-controls="archs4-wgcna" aria-selected="true">WGCNA modules</a>
            <a class="nav-link m-1 py-1" id="archs4-tissue-tab" data-toggle="pill" href="#archs4-tissue" role="tab"
               aria-controls="archs4-tissue" aria-selected="false">Tissue</a>
        </nav>
        <div class="card">
            <div class="tab-content card-body" id="archs4-tabContent">
                <div class="tab-pane fade show active" id="archs4-wgcna" role="tabpanel"
                     aria-labelledby="archs4-wgcna-tab">
                    <svg id="archs4-wgcna-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#archs4-wgcna-network')[0], 'ARCHS4_WGCNA_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#archs4-wgcna-network')[0], 'ARCHS4_WGCNA_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="archs4-tissue" role="tabpanel" aria-labelledby="archs4-tissue-tab">
                    <svg id="archs4-tissue-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#archs4-tissue-network')[0], 'ARCHS4_Tissue_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#archs4-tissue-network')[0], 'ARCHS4_Tissue_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="gtex">GTEx</h4>
<p>Data is from GTEx gene expression dataset. WGCNA module eigengenes were correlated to GTEx tissue sample labels,
    which can be viewed by selecting the “General tissue” and “Specific tissue” tabs.</p>
<div class="row">
    <div class="col-10 mt-1" style="display: block;">
        <nav class="nav nav-pills mb-3" id="gtex-tab" role="tablist">
            <a class="nav-link m-1 py-1 active" id="gtex-wgcna-tab" data-toggle="pill" href="#gtex-wgcna" role="tab"
               aria-controls="gtex-wgcna" aria-selected="true">WGCNA modules</a>
            <a class="nav-link m-1 py-1" id="gtex-general-tissue-tab" data-toggle="pill" href="#gtex-general-tissue"
               role="tab"
               aria-controls="gtex-general-tissue" aria-selected="false">General tissue</a>
            <a class="nav-link m-1 py-1" id="gtex-specific-tissue-tab" data-toggle="pill" href="#gtex-specific-tissue"
               role="tab"
               aria-controls="gtex-specific-tissue" aria-selected="false">Specific tissue</a>
        </nav>
        <div class="card">
            <div class="tab-content card-body" id="gtex-tabContent">
                <div class="tab-pane fade show active" id="gtex-wgcna" role="tabpanel"
                     aria-labelledby="gtex-wgcna-tab">
                    <svg id="gtex-wgcna-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#gtex-wgcna-network')[0], 'GTEx_WGCNA_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#gtex-wgcna-network')[0], 'GTEx_WGCNA_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="gtex-general-tissue" role="tabpanel"
                     aria-labelledby="gtex-general-tissue-tab">
                    <svg id="gtex-general-tissue-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#gtex-general-tissue-network')[0], 'GTEx_General_Tissue_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#gtex-general-tissue-network')[0], 'GTEx_General_Tissue_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="gtex-specific-tissue" role="tabpanel"
                     aria-labelledby="gtex-specific-tissue-tab">
                    <svg id="gtex-specific-tissue-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#gtex-specific-tissue-network')[0], 'GTEx_Specific_Tissue_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#gtex-specific-tissue-network')[0], 'GTEx_Specific_Tissue_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="tcga">TCGA</h4>
<p>Data consisted of 100 samples from each of 96 cancer types from the TCGA database. WCGNA module eigengenes were
    correlated to TCGA tumor types, which can be viewed by selecting the “Tumor” tab.</p>
<div class="row">
    <div class="col-10 mt-1" style="display: block;">
        <nav class="nav nav-pills mb-3" id="tcga-tab" role="tablist">
            <a class="nav-link m-1 py-1 active" id="tcga-wgcna-tab" data-toggle="pill" href="#tcga-wgcna" role="tab"
               aria-controls="tcga-wgcna" aria-selected="true">WGCNA modules</a>
            <a class="nav-link m-1 py-1" id="tcga-tumor-tab" data-toggle="pill" href="#tcga-tumor" role="tab"
               aria-controls="tcga-tumor" aria-selected="false">Tumor</a>
        </nav>
        <div class="card">
            <div class="tab-content card-body" id="tcga-tabContent">
                <div class="tab-pane fade show active" id="tcga-wgcna" role="tabpanel"
                     aria-labelledby="tcga-wgcna-tab">
                    <svg id="tcga-wgcna-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#tcga-wgcna-network')[0], 'TCGA_WGCNA_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#tcga-wgcna-network')[0], 'TCGA_WGCNA_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="tcga-tumor" role="tabpanel" aria-labelledby="tcga-tumor-tab">
                    <svg id="tcga-tumor-network"></svg>
                    <div class="row ml-1">
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_svg($('#tcga-tumor-network')[0], 'TCGA_Tumor_Network')">
                            <i class="fas fa-download" title="Download SVG"></i>
                            SVG
                        </button>
                        <button class="btn btn-primary-outline btn-sm"
                                onclick="save_png($('#tcga-tumor-network')[0], 'TCGA_Tumor_Network')">
                            <i class="fas fa-download" title="Download PNG"></i>
                            PNG
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>