<h4 class="my-3" id="item-1">Integrated results</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-1">Mean rank</h5>
                <svg id="graph-1-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-1-1')[0], 'Mean_rank')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-1-1')[0], 'Mean_rank')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-2">Top rank</h5>
                <svg id="graph-1-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-1-2')[0], 'Top_rank')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-1-2')[0], 'Top_rank')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-2">Kinase-substrate interaction</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-1">Cheng KSIN</h5>
                <svg id="graph-2-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-2-1')[0], 'Cheng_KSIN')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-2-1')[0], 'Cheng_KSIN')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-2">PTMsigDB</h5>
                <svg id="graph-2-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-2-2')[0], 'PTMsigDB')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-2-2')[0], 'PTMsigDB')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-3">PhosD All</h5>
                <svg id="graph-2-3">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-2-3')[0], 'PhosD_All')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-2-3')[0], 'PhosD_All')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-3">Protein-protein interaction</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-1">prePPI</h5>
                <svg id="graph-3-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-1')[0], 'prePPI')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-1')[0], 'prePPI')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-2">BioGRID</h5>
                <svg id="graph-3-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-2')[0], 'BioGRID')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-2')[0], 'BioGRID')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-3">mentha</h5>
                <svg id="graph-3-3">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-3')[0], 'mentha')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-3')[0], 'mentha')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-4">MINT</h5>
                <svg id="graph-3-4">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-4')[0], 'MINT')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-4')[0], 'MINT')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-5">HIPPIE</h5>
                <svg id="graph-3-5">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-5')[0], 'HIPPIE')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-5')[0], 'HIPPIE')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-6">STRING bind</h5>
                <svg id="graph-3-6">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-6')[0], 'STRING_bind')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-6')[0], 'STRING_bind')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-7">Cheng PPI</h5>
                <svg id="graph-3-7">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-7')[0], 'Cheng_PPI')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-7')[0], 'Cheng_PPI')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-4">All associations</h4>
<div class="row">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-4-1">STRING</h5>
                <svg id="graph-4-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-4-1')[0], 'STRING')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-4-1')[0], 'STRING')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>