<h4 class="my-3" id="item-2">Kinase-substrate interaction</h4>
<p>Kinase co-regulatory networks constructed from top-ranked kinase enrichment results for various kinase-substrate
    interaction libraries. Directed edges indicate interactions supported by kinase-substrate evidence; undirected edges
    indicate protein-protein interaction or unspecified interaction evidence only. Hover over an edge to view libraries
    in which evidence for an interaction was found.</p>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-1">Cheng KSIN
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Kinase-substrate interaction network constructed by Cheng et al. from Phospho.ELM, HPRD, PhosphoNetworks, and PhosphoSitePlus.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-2-1">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('ChengKSIN', '#graph-2-1', parseInt(this.value)); $('#slider-2-1').text(this.value)"
                           onchange="graph('ChengKSIN', '#graph-2-1', parseInt(this.value)); $('#slider-2-1').text(this.value)">
                </div>
                <svg id="graph-2-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-2-1')[0], 'Cheng_KSIN')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-2-1')[0], 'Cheng_KSIN')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-2">PTMsigDB
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Phosphosite signatures of kinase activities, perturbations, and signaling pathways curated from literature.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-2-2">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('PTMsigDB', '#graph-2-2', parseInt(this.value)); $('#slider-2-2').text(this.value)"
                           onchange="graph('PTMsigDB', '#graph-2-2', parseInt(this.value)); $('#slider-2-2').text(this.value)">
                </div>
                <svg id="graph-2-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-2-2')[0], 'PTMsigDB')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-2-2')[0], 'PTMsigDB')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-3">PhosD All
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Kinase libraries generated by training the PhosD model on Phospho.ELM, PhosphoSitePlus, and multiple datasets.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-2-3">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('PhosDAll', '#graph-2-3', parseInt(this.value)); $('#slider-2-3').text(this.value)"
                           onchange="graph('PhosDAll', '#graph-2-3', parseInt(this.value)); $('#slider-2-3').text(this.value)">
                </div>
                <svg id="graph-2-3">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-2-3')[0], 'PhosD_All')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-2-3')[0], 'PhosD_All')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-3">Protein-protein interaction</h4>
<p>Kinase co-regulatory networks constructed from top-ranked kinase enrichment results for various protein-protein
    interaction libraries. Directed edges indicate interactions supported by kinase-substrate evidence; undirected edges
    indicate protein-protein interaction or unspecified interaction evidence only. Hover over an edge to view libraries
    in which evidence for an interaction was found.</p>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-1">prePPI
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='High-confidence protein-protein interaction predictions generated from a Bayesian network relying on 3D structural information as well as functional, evolutionary, and expression information.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-3-1">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('prePPI', '#graph-3-1', parseInt(this.value)); $('#slider-3-1').text(this.value)"
                           onchange="graph('prePPI', '#graph-3-1', parseInt(this.value)); $('#slider-3-1').text(this.value)">
                </div>
                <svg id="graph-3-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-1')[0], 'prePPI')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-1')[0], 'prePPI')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-2">BioGRID
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Multi-validated protein-protein interactions from high- and low-throughput experiments manually curated from literature.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-3-2">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('BioGRID', '#graph-3-2', parseInt(this.value)); $('#slider-3-2').text(this.value)"
                           onchange="graph('BioGRID', '#graph-3-2', parseInt(this.value)); $('#slider-3-2').text(this.value)">
                </div>
                <svg id="graph-3-2">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-2')[0], 'BioGRID')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-2')[0], 'BioGRID')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-3">mentha
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Molecular interactions aggregated from MINT, IntAct, BioGRID, MatrixDB, and DIP.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-3-3">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('mentha', '#graph-3-3', parseInt(this.value)); $('#slider-3-3').text(this.value)"
                           onchange="graph('mentha', '#graph-3-3', parseInt(this.value)); $('#slider-3-3').text(this.value)">
                </div>
                <svg id="graph-3-3">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-3')[0], 'mentha')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-3')[0], 'mentha')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-4">MINT
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Protein-protein interactions from high- and low-throughput experiments manually curated from literature.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-3-4">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('MINT', '#graph-3-4', parseInt(this.value)); $('#slider-3-4').text(this.value)"
                           onchange="graph('MINT', '#graph-3-4', parseInt(this.value)); $('#slider-3-4').text(this.value)">
                </div>
                <svg id="graph-3-4">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-4')[0], 'MINT')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-4')[0], 'MINT')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-5">HIPPIE
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Aggregated experimentally-determined protein-protein interactions from IntAct, MINT, BioGRID, HPRD, DIP, BIND, and MMPI.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-3-5">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('HIPPIE', '#graph-3-5', parseInt(this.value)); $('#slider-3-5').text(this.value)"
                           onchange="graph('HIPPIE', '#graph-3-5', parseInt(this.value)); $('#slider-3-5').text(this.value)">
                </div>
                <svg id="graph-3-5">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-5')[0], 'HIPPIE')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-5')[0], 'HIPPIE')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-6">STRING bind
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Subset of the STRING database which includes only interactions annotated as involving physical binding.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-3-6">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('STRING.bind', '#graph-3-6', parseInt(this.value)); $('#slider-3-6').text(this.value)"
                           onchange="graph('STRING.bind', '#graph-3-6', parseInt(this.value)); $('#slider-3-6').text(this.value)">
                </div>
                <svg id="graph-3-6">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm"
                            onclick="save_svg($('#graph-3-6')[0], 'STRING_bind')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm"
                            onclick="save_png($('#graph-3-6')[0], 'STRING_bind')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-7">Cheng PPI
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Protein-protein interaction network constructed by Cheng et al. from IntAct, MINT, BioGRID, DIP, HPRD, and MIPS MPact.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-3-7">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('ChengPPI', '#graph-3-7', parseInt(this.value)); $('#slider-3-7').text(this.value)"
                           onchange="graph('ChengPPI', '#graph-3-7', parseInt(this.value)); $('#slider-3-7').text(this.value)">
                </div>
                <svg id="graph-3-7">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-3-7')[0], 'Cheng_PPI')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-3-7')[0], 'Cheng_PPI')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-4">All associations</h4>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-4-1">STRING
                    <span data-container="body" data-toggle="popover"
                          data-placement="right" data-trigger="hover"
                          data-content='Database of direct and indirect protein-protein interactions, including physical interaction, co-expression, co-occurrence in literature, evolutionary co-occurrence, and other association types.'
                          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                          data-html="true">
                        <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                    </span></h5>
                <div class="d-flex mb-2">
                    <p>Showing top <span id="slider-4-1">10</span> results</p>
                    <input type="range" min="1" max="50" step="1" value="10" class="ml-3 mb-2"
                           oninput="graph('STRING', '#graph-4-1', parseInt(this.value)); $('#slider-4-1').text(this.value)"
                           onchange="graph('STRING', '#graph-4-1', parseInt(this.value)); $('#slider-4-1').text(this.value)">
                </div>
                <svg id="graph-4-1">
                </svg>
                <div class="row ml-1">
                    <button class="btn btn-primary-outline btn-sm" onclick="save_svg($('#graph-4-1')[0], 'STRING')">
                        <i class="fas fa-download" title="Download SVG"></i>
                        SVG
                    </button>
                    <button class="btn btn-primary-outline btn-sm" onclick="save_png($('#graph-4-1')[0], 'STRING')">
                        <i class="fas fa-download" title="Download PNG"></i>
                        PNG
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>