<!--  Logo and nav  -->
<div class="row justify-content-center header my-3">
    <div class="col-6">
        <div id="logo">
            <a href="/kea3" style="color: #55a3f0"><img src="/kea3/static/KEA3_logo_transparent.png" width="50px" style="float: left;" class="mr-2">
            Kinase Enrichment Analysis version 3</a>
        </div>
                <p>Kinase Enrichment Analysis 3 (KEA3) infers upstream kinases whose
                    putative substrates are overrepresented in a user-inputted list of proteins or differentially
                    phosphorylated proteins.
                </p>
    </div>
</div>