<h4 class="my-3" id="item-1">Integrated results</h4>
<p>Integrated rankings of kinases across libraries based on two different metrics. Clicking on a name in the "Protein"
    column will open a Harmonizome page for the relevant protein-coding gene. Select a column heading to order the
    results by the values in that column; select an already active column heading to toggle between ascending and
    descending order.</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-1">Mean rank
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Integrated kinase ranking based on the MeanRank metric, which gives the average rank of each kinase
                    across all libraries containing that kinase. Click a value in the "Mean rank"”" column to see
                    individual library rankings for a kinase.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-1-1" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-2">Top rank
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Integrated kinase ranking based on the TopRank metric, which gives the best-scaled rank of each
                    kinase across all libraries containing that kinase. Click a value in the "Integrated scaled rank"”"
                    column to display the library in which the kinase was ranked highest.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-1-2" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-2">Kinase-substrate interaction</h4>
<p>Kinase enrichment analysis results for different kinase-substrate interaction libraries. By default, kinases are
    ranked from lowest Fisher’s exact test (FET) p-values to highest, with higher ranking indicating more significant
    substrate overlap between the query set and gene sets in the library. False discovery rates (FDRs) were computed
    using the Benjamini-Hochberg correction.</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-1">Cheng KSIN
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Kinase-substrate interaction network constructed by Cheng et al. from Phospho.ELM, HPRD,
                    PhosphoNetworks, and PhosphoSitePlus.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-2-1" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-2">PTMsigDB
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Phosphosite signatures of kinase activities, perturbations, and signaling pathways curated from
                    literature.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-2-2" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-3">PhosD All
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Kinase libraries generated by training the PhosD model on Phospho.ELM, PhosphoSitePlus, and multiple
                    datasets.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-2-3" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-3">Protein-protein interaction</h4>
<p>Kinase enrichment analysis results for different protein-protein interaction libraries. By default, kinases are
    ranked from lowest Fisher’s exact test (FET) p-values to highest, with higher ranking indicating more significant
    substrate overlap between the query set and gene sets in the library. False discovery rates (FDRs) were computed
    using the Benjamini-Hochberg correction.</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-1">prePPI
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='High-confidence protein-protein interaction predictions generated from a Bayesian network relying on
                    3D structural information as well as functional, evolutionary, and expression information.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-3-1" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-2">BioGRID
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Multi-validated protein-protein interactions from high- and low-throughput experiments manually
                    curated from literature.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-3-2" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-3">mentha
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Molecular interactions aggregated from MINT, IntAct, BioGRID, MatrixDB, and DIP.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-3-3" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-4">MINT
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Protein-protein interactions from high- and low-throughput experiments manually curated from
                    literature.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-3-4" class="table compact hover order-column row-border"
                           style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-5">HIPPIE
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Aggregated experimentally-determined protein-protein interactions from IntAct, MINT, BioGRID, HPRD,
                    DIP, BIND, and MMPI.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-3-5" class="table compact hover order-column row-border"
                           style="width:100%;">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-6">STRING bind
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Subset of the STRING database which includes only interactions annotated as involving physical
                    binding.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-3-6" class="table compact hover order-column row-border"
                           style="width:100%;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-7">Cheng PPI
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Protein-protein interaction network constructed by Cheng et al. from IntAct, MINT, BioGRID, DIP,
                    HPRD, and MIPS MPact.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-3-7" class="table compact hover order-column row-border"
                           style="width:100%;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-4">All associations</h4>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 mt-1 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-4-1">STRING
                <span data-container="body" data-toggle="popover"
                      data-placement="right" data-trigger="hover"
                      data-content='Database of direct and indirect protein-protein interactions, including physical interaction,
                    co-expression, co-occurrence in literature, evolutionary co-occurrence, and other association
                    types.'
                      data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"></div></div>'
                      data-html="true">
                    <i class="fas fa-info-circle" style="color: darkgrey; font-size: 0.9rem;"></i>
                </span></h5>
                <div class="table-responsive">
                    <table id="table-4-1" class="table compact hover order-column row-border"
                           style="width:100%;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>