html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f7f2;
    color: #46546A;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-link {
    padding: .5rem;
}

.nav-pills .nav-link.active {
    background-color: #f8f7f2;
    color: #3871C8;
}

#logo {
    color: #3871C8;
    padding: 0.5rem;
    width: 165px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    margin: 1rem 1rem 1rem 0;
}

th {
    font-weight: 500;
}

input[type="file"] {
    display: none;
}

.custom-button {
    display: inline-block;
    border-radius: 10px 10px;
    border: none;
    padding: 3px 12px;
    cursor: pointer;
    background-color: #007bff73;
    color: #FFF9F1;
}

.gene-link {
    background-color: #FBE5CC;
    color: #24243a;
    padding: 1px 4px;
    margin-top: 3px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none !important;
}

.O-1-item {
    break-inside: avoid;
    display: flex;
    align-items: center;
    padding-bottom: 1px;
}

.O-1-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 15px - 0.5em);
}

.O-1-swatch {
    width: 15px;
    height: 15px;
    margin: 0 0.5em 0 0;
}