html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f7f2;
    color: #46546A;
}

#logo {
    color: #3871C8;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 500;
    margin: 1rem 1rem 1rem 0;
    font-size: 2rem;
}

th {
    font-weight: 500;
}

input[type="file"] {
    display: none;
}

.custom-button {
    display: inline-block;
    border-radius: 10px 10px;
    border: none;
    padding: 3px 12px;
    cursor: pointer;
    background-color: #007bff73;
    color: #FFF9F1;
}

.url-button {
    display: inline-block;
    border-radius: 10px 10px;
    border: none;
    padding: 3px 12px;
    cursor: pointer;
    background-color: #E3E3E3;
    color: #007bff;
}

.github-button {
    display: inline-block;
    border-radius: 10px 10px;
    border: none;
    padding: 1px 12px 2px 12px;
    cursor: pointer;
    background-color: #55555573;
    color: #FFF9F1;
}

.gene-link {
    background-color: #FBE5CC;
    color: #24243a;
    padding: 1px 4px;
    margin-top: 3px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none !important;
}

.O-1-item {
    break-inside: avoid;
    display: flex;
    align-items: center;
    padding-bottom: 1px;
}

.O-1-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 15px - 0.5em);
}

.O-1-swatch {
    width: 15px;
    height: 15px;
    margin: 0 0.5em 0 0;
}

.dt-button {
    padding: 3px 10px !important;
    border-radius: 10px 10px !important;
    border: none !important;
    background-color: #fff !important;
    color: #000 !important;
    margin: 10px !important;
}

.overlap-button {
    border: none !important;
    padding: 0 !important;
}

.svg-tooltip {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple   Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgba(69,77,93,.9);
    border-radius: .1rem;
    color: #fff;
    display: block;
    font-size: 11px;
    max-width: 320px;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
}