<h4 class="my-3" id="item-1">Integrated results</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-1">Mean rank</h5>
                <svg id="bar-1-1">
                </svg>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-2">Top rank</h5>
                <svg id="bar-1-2">
                </svg>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-2">Kinase-substrate interaction</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-1">Cheng KSIN</h5>
                <svg id="bar-2-1">
                </svg>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-2">PTMsigDB</h5>
                <svg id="bar-2-2">
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-2-3">PhosD All</h5>
                <svg id="bar-2-3">
                </svg>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-3">Protein-protein interaction</h4>
<div class="row">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-1">prePPI</h5>
                <svg id="bar-3-1">
                </svg>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-2">BioGRID</h5>
                <svg id="bar-3-2">
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-3">mentha</h5>
                <svg id="bar-3-3">
                </svg>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-4">MINT</h5>
                <svg id="bar-3-4">
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-5">HIPPIE</h5>
                <svg id="bar-3-5">
                </svg>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-6">STRING bind</h5>
                <svg id="bar-3-6">
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-3-7">Cheng PPI</h5>
                <svg id="bar-3-7">
                </svg>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="item-4">All associations</h4>
<div class="row">
    <div class="col-6 align-self-start" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-4-1">STRING</h5>
                <svg id="bar-4-1">
                </svg>
            </div>
        </div>
    </div>
</div>