<footer class="footer">
    <div class="container">
        <div class="row justify-content-center m-5">
            <div class="col-md-2 col-sm text-center">
                <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank">
                    <img class="rounded" src="static/icahn_cb.png" style="height: 5rem;">
                </a>
            </div>
            <div class="col-md-2 col-sm text-center">
                <a href="http://lincs-dcic.org" target="_blank">
                    <img class="rounded" src="static/dcic_light.png" style="height: 5rem;">
                </a>
            </div>
            <div class="col-md-2 col-sm text-center">
                <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank">
                    <img class="rounded" src="static/maayanlab_logo.png"
                         style="height: 5rem;">
                </a>
            </div>
            <div class="col-md-2 col-sm">
                <div class="row my-2">
                    <a class="badge badge-secondary px-2" href="https://github.com/MaayanLab/KEA3web" target="_blank">
                        <span class="badge badge-light">
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                 style="width: 1rem;">
                </span>
                        View source code
                    </a>
                </div>
                <div class="row my-2">
                    <a class="badge badge-secondary px-2"
                       href="https://github.com/MaayanLab/KEA3web/issues/new" target="_blank">
                        <span class="badge badge-light">
                        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                             style="width: 1rem;">
                            </span>
                        Submit an issue
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>