<div class="dropdown">
    <button class="btn btn-sm btn-outline-primary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a library
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('Integrated--meanRank');">Mean rank</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('Integrated--topRank');">Top rank</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('ChengKSIN');">ChengKSIN</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('PTMsigDB');">PTMsigDB</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('PhosDAll');">PhosDAll</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('prePPI');">prePPI</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('BioGRID');">BioGRID</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('mentha');">mentha</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('MINT');">MINT</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('HIPPIE');">HIPPIE</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('STRING.bind');">STRING.bind</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('ChengPPI');">ChengPPI</a>
        <a class="dropdown-item" href="#results" onclick="drawAllScatters('STRING');">STRING</a>
    </div>
</div>
<h4 class="my-3" id="archs4">ARCHS4</h4>
<div class="row">
    <div class="col-10" style="display: block;">
        <div class="card">
            <div class="row">
                <div class="col-3">
                    <div class="btn-group btn-group-toggle card-header" data-toggle="buttons">
                        <label class="btn btn-sm btn-outline-primary active"
                               onclick="network_mode.archs4.color_by = 'WGCNA_module'; scatter('archs4');">
                            <input autocomplete="off" checked id="archs4_wgcna" name="archs4_annotation" type="radio">WGCNA
                        </label>
                        <label class="btn btn-sm btn-outline-primary"
                               onclick="network_mode.archs4.color_by = 'Tissue_color'; scatter('archs4')">
                            <input autocomplete="off" id="archs4_tissue" name="archs4_annotation" type="radio">Tissue
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <svg id="archs4-network">
                </svg>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="gtex">GTEx</h4>
<div class="row">
    <div class="col-10" style="display: block;">
        <div class="card">
            <div class="row">
                <div class="col-5">
                    <div class="btn-group btn-group-toggle card-header" data-toggle="buttons">
                        <label class="btn btn-sm btn-outline-primary active"
                               onclick="network_mode.gtex.color_by = 'WGCNA_module'; scatter('gtex');">
                            <input autocomplete="off" checked id="gtex_wgcna" name="gtex_annotation" type="radio">WGCNA
                        </label>
                        <label class="btn btn-sm btn-outline-primary"
                               onclick="network_mode.gtex.color_by = 'General_tissue_color'; scatter('gtex');">
                            <input autocomplete="off" id="gtex_specific_tissue" name="gtex_annotation" type="radio">General
                            Tissue
                        </label>
                        <label class="btn btn-sm btn-outline-primary"
                               onclick="network_mode.gtex.color_by='Specific_tissue_color'; scatter('gtex');">
                            <input autocomplete="off" id="gtex_general_tissue" name="gtex_annotation" type="radio">Specific
                            tissue
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <svg id="gtex-network">
                </svg>
            </div>
        </div>
    </div>
</div>
<hr>
<h4 class="my-3" id="tcga">TCGA</h4>
<div class="row">
    <div class="col-10" style="display: block;">
        <div class="card">
            <div class="row">
                <div class="col-3">
                    <div class="btn-group btn-group-toggle card-header" data-toggle="buttons">
                        <label class="btn btn-sm btn-outline-primary active"
                               onclick="network_mode.tcga.color_by = 'WGCNA_module'; scatter('tcga');">
                            <input autocomplete="off" checked id="tcga_wgcna" name="tcga_annotation" type="radio">WGCNA
                        </label>
                        <label class="btn btn-sm btn-outline-primary"
                               onclick="network_mode.tcga.color_by = 'Tumor_color'; scatter('tcga');">
                            <input autocomplete="off" id="tcga_tumor_color" name="tcga_annotation" type="radio">Tumor
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <svg id="tcga-network">
                </svg>
            </div>
        </div>
    </div>
</div>