<div class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<h4 class="my-3" id="item-1" style="font-family: Arial,sans-serif">&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;</h4>
<div class="row" style="font-family: Arial,sans-serif">
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-1">&#9617;&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;</h5>
                <table id="placeholder-1" class="table table-sm"
                       style="width:100%">
                    <tbody>
                    <tr>
                        <th>&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;</th>
                        <th>&#9617;&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;</th>
                        <th>&#9617;&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;</th>
                        <th>&#9617;&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;</th>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6" style="display: block;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="item-1-2">&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;</h5>
                <table id="placeholder-2" class="table table-sm"
                       style="width:100%">
                    <tbody>
                    <tr>
                        <th>&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;</th>
                        <th>&#9617;&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;</th>
                        <th>&#9617;&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;</th>
                        <th>&#9617;&#9617;&#9617;&#9617; &#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;</th>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    <tr>
                        <td>&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                        <td>&#9617;.&#9617;&#9617;</td>
                        <td>&#9617;&#9617;&#9617;&#9617;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>