body {
    background-color: #FBE5CC;
    color: #46546A;
}

h3 {
    color: #3871C8;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-link {
    padding: .5rem;
}

.nav-pills .nav-link.active {
    background-color: #007bff73;
    color: #FFF9F1;
}

#logo {
    background-color: #FFF9F1;
    padding: 0.5rem;
    width: 165px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    margin: 1rem 1rem 1rem 0;
}

th {
    font-weight: 500;
}

input[type="file"] {
    display: none;
}

.custom-button {
    display: inline-block;
    border-radius: 10px 10px;
    padding: 3px 12px;
    cursor: pointer;
    background-color: #007bff73;
    color: #FFF9F1;
}

.gene-link {
    background-color: #FBE5CC;
    color: #24243a;
    padding: 1px 4px;
    margin-top: 3px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none !important;
}