body {
    background-color: #FBE5CC;
    color: #46546A;
}

h3 {
    color: #3871C8;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-link {
    padding: .5rem;
}
.nav-pills .nav-link.active {
    background-color: #007bff73;
    color: #FFF9F1;
}

#logo {
    background-color: #FFF9F1;
    padding: 0.5rem;
    width: 160px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: bold;
}