<div class="mbr-section content4 cid-r0K4Mm8LAA" id="download" style="padding-bottom:0">
    <div class="container align-center">
        <div class="media-container-row">
            <div class="title col-12">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Download</h2>
            </div>
        </div>
        "Primary" libraries are used by KEA3 to conduct kinase enrichment analysis. "Benchmarking" libraries were used
        to benchmark KEA3. "Additional" libraries are available as an additional resource to the community. "Primary"
        and "Additional" libraries were generated to only include kinases with four or more interactions, and all gene
        symbols are HGNC-approved.
    </div>
    <br>
</div>

<div class="container">
    <div class="media-container-row">
        <table border="1" class="dataframe">
            <thead>
            <tr style="text-align: initial; text-align: center; color:#767676">
                <th>Library</th>
                <th>Library Type</th>
                <th>Organism</th>
                <th>Unique Kinases</th>
                <th>Unique Substrates</th>
                <th>Mean Set Size</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>

            <!-- Primary Libraries -->

            <tr>
                <td><a href="https://downloads.thebiogrid.org/" style="text-decoration:none" target="_blank">BioGRID</a>
                </td>
                <td>Primary</td>
                <td>Human</td>
                <td>240</td>
                <td>2,251</td>
                <td>24</td>
                <td><a download href="/static/tflibs/BioGRID.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4116514/#SD5" style="text-decoration:none" target="_blank">Cheng.KSIN</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>227</td>
                <td>2,154</td>
                <td>31</td>
                <td><a download href="/static/tflibs/Cheng.KSIN.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="http://cbdm-01.zdv.uni-mainz.de/~mschaefer/hippie/" style="text-decoration:none" target="_blank">HIPPIE</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>474</td>
                <td>8,798</td>
                <td>97</td>
                <td><a download href="/static/tflibs/HIPPIE.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td></tr>
            <tr>
                <td><a href="http://mentha.uniroma2.it/index.php" style="text-decoration:none" target="_blank">Mentha</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>474</td>
                <td>8,639</td>
                <td>72</td>
                <td><a download href="/static/tflibs/mentha.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td></tr>
            <tr>
                <td><a href="https://mint.bio.uniroma2.it/" style="text-decoration:none" target="_blank">MINT</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>156</td>
                <td>1,383</td>
                <td>72</td>
                <td><a download href="/static/tflibs/MINT.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td></tr>
            <tr>
                <td><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4116514/#SD5" style="text-decoration:none"
                       target="_blank">Cheng.PPI</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>376</td>
                <td>4,678</td>
                <td>40</td>
                <td><a download href="/static/tflibs/Cheng.PPI.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="http://prot-shiny-vm.broadinstitute.org:3838/ptmsigdb-app/" style="text-decoration:none" target="_blank">PTMsigDB</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>163</td>
                <td>2,262</td>
                <td>32</td>
                <td><a download href="/static/tflibs/PTMsigDB.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://string-db.org/cgi/input.pl?sessionId=cOMzocvk3ztX&input_page_show_search=on" style="text-decoration:none" target="_blank">STRING</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>514</td>
                <td>18,213</td>
                <td>1,235</td>
                <td><a download href="/static/tflibs/STRING.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://string-db.org/cgi/input.pl?sessionId=cOMzocvk3ztX&input_page_show_search=on" style="text-decoration:none" target="_blank">STRING.bind</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>432</td>
                <td>5,254</td>
                <td>72</td>
                <td><a download href="/static/tflibs/STRING.bind.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://omictools.com/phosd-tool" style="text-decoration:none" target="_blank">PhosD.All</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>339</td>
                <td>6,544</td>
                <td>368</td>
                <td><a download href="/static/tflibs/PhosD.All.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="http://honig.c2b2.columbia.edu/preppi" style="text-decoration:none" target="_blank">PrePPI</a></td>
                <td>Primary</td>
                <td>Human</td>
                <td>519</td>
                <td>14,382</td>
                <td>658</td>
                <td><a download href="/static/tflibs/prePPI.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>

            <!-- Benchmarking Libraries -->
            <tr>
                <td><a href="http://prot-shiny-vm.broadinstitute.org:3838/ptmsigdb-app/" style="text-decoration:none" target="_blank">PTMsigDB.drug</a></td>
                <td>Benchmarking</td>
                <td>Human</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a download href="/static/tflibs/PTMsigDB_drugtarget_signatures.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://amp.pharm.mssm.edu/CREEDS/" style="text-decoration:none" target="_blank">KinCREEDSupdn</a>
                </td>
                <td>Benchmarking</td>
                <td>Human, Mouse</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a download href="/static/tflibs/single_kinase_perts_from_GEO_updn.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://amp.pharm.mssm.edu/l1000fwd/" style="text-decoration:none" target="_blank">DrugL1000updn</a>
                </td>
                <td>Benchmarking</td>
                <td>Human</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a download href="/static/tflibs/L1000FWD_kin_targets_updn.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <!-- Additional Libraries -->

            <tr>
                <td><a href="http://mizuguchilab.org/PSOPIA/theory.html" style="text-decoration:none" target="_blank">PSOPIA</a>
                </td>
                <td>Additional</td>
                <td>Human</td>
                <td>44</td>
                <td>493</td>
                <td>14</td>
                <td><a download href="/static/tflibs/PSOPIA.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://www.phosphosite.org/homeAction.action" style="text-decoration:none" target="_blank">PhosphoSitePlus</a></td>
                <td>Additional</td>
                <td>Human</td>
                <td>165</td>
                <td>2,269</td>
                <td>32</td>
                <td><a download href="/static/tflibs/PhosphoSitePlus.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://phosphonetworks.org/" style="text-decoration:none" target="_blank">PhosphoNetworks.rawKSI</a>
                </td>
                <td>Additional</td>
                <td>Human</td>
                <td>285</td>
                <td>1,914</td>
                <td>83</td>
                <td><a download href="/static/tflibs/PhosphoNetworks.rawKSI.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://phosphonetworks.org/" style="text-decoration:none" target="_blank">PhosphoNetworks.comKSI</a>
                </td>
                <td>Additional</td>
                <td>Human</td>
                <td>181</td>
                <td>1,115</td>
                <td>23</td>
                <td><a download href="/static/tflibs/PhosphoNetworks.comKSI.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://phosphonetworks.org/" style="text-decoration:none" target="_blank">PhosphoNetworks.refKSI</a>
                </td>
                <td>Additional</td>
                <td>Human</td>
                <td>164</td>
                <td>717</td>
                <td>21</td>
                <td><a download href="/static/tflibs/PhosphoNetworks.refKSI.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://omictools.com/phosd-tool" style="text-decoration:none" target="_blank">PhosD.ELM</a></td>
                <td>Additional</td>
                <td>Human</td>
                <td>161</td>
                <td>3,799</td>
                <td>127</td>
                <td><a download href="/static/tflibs/PhosD.ELM.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://omictools.com/phosd-tool" style="text-decoration:none" target="_blank">PhosD.PSP</a></td>
                <td>Additional</td>
                <td>Human</td>
                <td>212</td>
                <td>5,565</td>
                <td>246</td>
                <td><a download href="/static/tflibs/PhosD.ELM.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://amp.pharm.mssm.edu/archs4/" style="text-decoration:none" target="_blank">ARCHS4.coexp</a>
                </td>
                <td>Additional</td>
                <td>Human</td>
                <td>515</td>
                <td>16,711</td>
                <td>300</td>
                <td><a download href="/static/tflibs/ARCHS4.coexp.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://www.gtexportal.org/home/" style="text-decoration:none" target="_blank">GTEx.coexp</a></td>
                <td>Additional</td>
                <td>Human</td>
                <td>515</td>
                <td>17,769</td>
                <td>300</td>
                <td><a download href="/static/tflibs/GTEx.coexp.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="http://www.compbio.dundee.ac.uk/www-pips/" style="text-decoration:none" target="_blank">PIPs</a>
                </td>
                <td>Additional</td>
                <td>Human</td>
                <td>266</td>
                <td>2,068</td>
                <td>50</td>
                <td><a download href="/static/tflibs/PIPs.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="https://reactome.org/" style="text-decoration:none" target="_blank">REACTOME</a></td>
                <td>Additional</td>
                <td>Human</td>
                <td>178</td>
                <td>1,209</td>
                <td>22</td>
                <td><a download href="/static/tflibs/REACTOME.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="http://phospho.elm.eu.org/" style="text-decoration:none" target="_blank">Phospho.ELM</a>
                </td>
                <td>Additional</td>
                <td>Human</td>
                <td>39</td>
                <td>418</td>
                <td>16</td>
                <td><a download href="/static/tflibs/Phospho.ELM.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            <tr>
                <td><a href="http://hu.proteincomplexes.org/download" style="text-decoration:none" target="_blank">Hu.MAP</a>
                </td>
                <td>Additional</td>
                <td>Human</td>
                <td>33</td>
                <td>294</td>
                <td>12</td>
                <td><a download href="/static/tflibs/hu.MAP.gmt">
                    <img height="17" src="/static/images/download_icon.png" width="17">
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
